body {
  background: black;
  color: #b2ff59;
  font-family: Arial;
  margin: 0;
  text-align: center;
}

/* ロゴ */
.logo {
  width: 800px; /* ←大きく */
  margin-top: 40px;
}

/* 情報 */
.info h2 {
  font-size: 32px; /* ←デカく */
  margin-top: 30px;
}

.info p {
  font-size: 20px;
}

/* ゲーム一覧 */
.game-list {
  margin-top: 60px;
  padding-bottom: 80px;
}

/* 各ゲームカード */
.game-card {
  width: 90%;
  max-width: 650px; /* ←広げる */
  margin: 40px auto;
  padding: 30px;

  border: 3px solid #b2ff59;
  border-radius: 20px;

  background: #111;
}

/* タイトル */
.game-card h3 {
  font-size: 26px;
}

/* タイトル横並び */
.title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* アイコン */
.game-icon {
  width: 100px;
  height: auto;
}

/* 説明文 */
.game-card p {
  font-size: 18px;
  margin-top: 10px;
}

/* ボタン */
button {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  font-size: 20px;

  border: none;
  border-radius: 12px;

  background: #b2ff59;
  color: black;
  font-weight: bold;

  cursor: pointer;
}

button:hover {
  background: #76ff03;
}



